{% extends 'main.html' %}{% load static %}{% block head %}
			<!-- start banner Area -->
			<section class="banner-area relative about-banner pb-120" style="margin-bottom: 20px" id="home" style="    background: url('../media/back/about-2.jpg');
			background-size: cover;
			height: 60vh;">
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Biz haqimizda				
							</h1>	
							<p class="text-white link-nav"><a href="{% url 'home' %}">Bosh sahifa </a>  <span class="lnr lnr-arrow-right"></span>  <a href="{% url 'about' %}"> Biz haqimizda</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start feature Area -->
			<!-- <section class="feature-area pb-120">
				<div class="container">
					<div class="row">
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Learn Online Courses</h4>
								</div>
								<div class="desc-wrap">
									<p>
										Usage of the Internet is becoming more common due to rapid advancement
										of technology.
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>No.1 of universities</h4>
								</div>
								<div class="desc-wrap">
									<p>
										For many of us, our very first experience of learning about the celestial bodies begins when we saw our first.
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="single-feature">
								<div class="title">
									<h4>Huge Library</h4>
								</div>
								<div class="desc-wrap">
									<p>
										If you are a serious astronomy fanatic like a lot of us are, you can probably remember that one event.
									</p>
									<a href="#">Join Now</a>									
								</div>
							</div>
						</div>												
					</div>
				</div>	
			</section> -->
			<!-- End feature Area -->		

			<!-- Start info Area -->
			<section class="info-area pb-120">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-6 no-padding info-area-left">
							<img class="img-fluid" src="{% static 'header.jpg' %}" alt="">
						</div>
						<div class="col-lg-6 info-area-right" style="text-align: center;">
							<h1>BUXORO DAVLAT PEDAGOGIKA INSTITUTI
								</h1>
							<p style="text-align: start;">Buxoro davlat universitetining Pedagogika instituti, 2020-yil 27-fevralidagi O‘zbekiston Respublikasi prezidentining  PQ-4623-son „Pedagogik taʼlim sohasini yanada rivojlantirish chora-tadbirlari to‘g‘risida“gi qaroridan soʻng, respublika hududida joylashgan beshta universitet negizida yangi institutlar tashkil etilgan[1][2][3]. Shu jumladan Buxoro davlat universitet qoshida Buxoro davlat Pedogogika instituti tashkil qilingan boʻlib, Oʻzbekiston Respublikasi Oliy va oʻrta maxsus taʼlim vazirining 2021-yil 29-iyundagi buyrugʻi bilan Mirzohid Daminov Buxoro davlat universitetining Pedagogika instituti direktori lavozimiga tayinlanadi. Institutda o‘quv jarayoni 2021/2022-o‘quv yilidan boshlangan.</p>
						</div>
					</div>
				</div>	
			</section>
			<!-- End info Area -->	

			<!-- Start course-mission Area -->
			<section class="course-mission-area pb-120">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-70 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10" style="text-align: center;">BUXORO DAVLAT PEDAGOGIKA INSTITUTI
								</h1>
								
							</div>
						</div>
					</div>							
                    <div class="row">
                        <div class="col-md-6 accordion-left">

                            <!-- accordion 2 start-->
                            <dl class="accordion">
                                <dt>
                                    <a href="">Taʼlim yoʻnalishlari va mutaxassisliklar</a>
                                </dt>
                                <dd>
                                    Buxoro davlat universitetining Pedagogika institutida 4 ta fakultet, 11 ta kafedra 2 ta markaz va 20 ta boʻlim faoliyat olib bormoqda. Institutda, shuningdek, 19 ta kunduzgi, 4 ta kechki, 11 ta sirtqi taʼlim shakli mavjud. 2021/2022-yil oʻquv yilida jami talabalar soni 3 907 nafarni tashkil etgan.

Institutda 2 nafar fan doktori, 153 ta fan nomzodi, 24 ta katta o'qituvchi va 66 ta o'qituvchi faoliyat olib bormoqda
                                </dd>
                                <dt>
                                    <a href="">Xalqaro aloqalari</a>
                                </dt>
                                <dd>
                                    Buxoro davlat universitetining Pedagogika instituti Rossiyaning Moskva davlat universiteti, Xalqlar doʻstligi universiteti va Penza davlat universiteti bilan hamkorlik qilib keladi. Bundan tashqari Turkiyaning Kutahya Dumpilpinar universiteti, Necmittin Erbakan universiteti va Marmara universitetlari bilan ham hamkorlik oʻrnatgan.
                                </dd>
                                <dt>
                                    <a href="">Institutning asosiy vazifalari</a>
                                </dt>
                                <dd>
                                    Hududda pedagogik soha va tarmoqlarning rivojlanish istiqbollari hamda ustuvor vazifalari, shuningdek, zamonaviy texnika-texnologiyalarning rivojlanish tendensiyalarini hisobga olgan holda pedagogika sohasi bo‘yicha tarbiya va o‘qitish usullari, taʼlim jarayonida zamonaviy pedagogik texnologiyalarni qo‘llash ko‘nikmalariga ega professional oliy maʼlumotli kadrlarni tayyorlash;
institutning mintaqa va xalqaro miqyosdagi nufuzini oshirish maqsadida xorijiy fuqarolar uchun taʼlim olish imkoniyatini kengaytirish va ilg‘or xalqaro tajribani tatbiq etish;
o‘quv va ilmiy laboratoriya xonalarini tashkil etish, zamonaviy texnologiyalar asosida jihozlash, o‘quv hamda ilmiy loyihalarni amalga oshirish;
taʼlim va ilmiy izlanishlar jarayoniga malakali mutaxassislarni keng jalb etish maqsadida respublikadagi hamda xorijiy yetakchi oliy taʼlim muassasalari, ilmiy markazlar bilan hamkorlik aloqalarini rivojlantirish;
xorijiy yetakchi va nufuzli oliy taʼlim muassasalarining ilg‘or tajribasini tatbiq etish asosida malaka talablari, o‘quv rejalari, fan dasturlarini ishlab chiqish, o‘quv hamda ilmiy-uslubiy taʼminotni takomillashtirish, ularni amaliyotga joriy etish;
taʼlim jarayoniga raqamli texnologiyalarni joriy etish, zamonaviy axborot-kommunikasiya va taʼlim texnologiyalarining mustahkam integrasiyasini taʼminlash;
pedagogik taʼlim sohasini rivojlantirishning ilmiy-metodik vazifalarini hal etish, ilg‘or xorijiy pedagogik texnologiyalarni joriy qilishga yo‘naltirilgan ilmiy tadqiqotlar olib borish va iqtidorli talaba-yoshlarni ilmiy faoliyat bilan shug‘ullanishga keng jalb etish;
respublika va xorijiy oliy taʼlim, ilmiy muassasalariga istiqbolli yosh bitiruvchilarni magistratura va doktoranturaga muntazam yuborish orqali institutning ilmiy-pedagogik salohiyatini oshirib borish
                                </dd>
                                                                  
                            </dl>
                            <!-- accordion 2 end-->
                        </div>
                        <div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">
                        	<div class="overlay overlay-bg"></div>
							<a class="play-btn" href="https://www.youtube.com/watch?v=ebMV6cjvZd0"><img class="img-fluid mx-auto" src="{% static 'img/play.png' %}" alt=""></a>
                        </div>
                    </div>
				</div>	
			</section>
			<!-- End course-mission Area -->
					

									    			

			
			{% endblock %}
			{% block script %}
{% endblock %}