{% extends 'main.html' %}{% load static %}{% block head %}
<link rel="stylesheet" href="{% static 'library.css' %}">
{% endblock %}{% block content %}
<section class="banner-area relative blog-home-banner" id="home" style="background: url('../media/back/internet_resurs.jpg');background-attachment: fixed;
background-size: cover;">	
	<div class="overlay overlay-bg"></div>
	<div class="container">				
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content blog-header-content col-lg-12">
				<h1 class="text-white">
					Texnologik ta'lim INTERNET RESURSLAR		
				</h1>	
				<p class="text-white">
				</p>
			</div>
		</div>
	</div>
</section>
<div class="library container">
	<div class="">
		<h3 class="mb-20">Elektron resurslar</h3>
		<div class="lib">
			<ul class="unordered-list">
				{% for r in resurs %}
				<li> <img src="{{r.image.url}}" alt="">  
					<div class="outhor">
						<p>{{r.title}}</p>
						<p>{{r.content}}</p>
					</div>
					<a href="{{r.url}}" target="_blank" class="genric-btn success-border circle" style="margin-left: 10px;">
						<i class="fa-solid fa-link"></i> Ko'rish </a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>

			{% endblock %}
			{% block script %}
{% endblock %}