{% extends 'users/user_base.html' %}{% load i18n %}{% load static %}
{% block head %}
<title>Test natijalari</title>

<style>
    .result{
        margin: 10px 0;
    padding: 15px;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
    background: #fff;
    }
    
</style>
{% endblock %}
{% block content %}
<h1>Test natijalari</h1>
<div class="card-body">
    <h4>Jami urinishlar soni: ({{old_results.count}})</h4>
    <br>
    {% for r in old_results %}
    <div class="result">
        <p style="font-size: 20px;"> <span style="font-weight: 600;"><i class="fa-solid fa-calendar-days"></i> Sana va vaqt: <a href="{% url 'user_test_info' r.id %}" style="color: #00f;">{{r.date|date:"d-m-Y H:i"}}</a> </span> </p><br>
    <p style="margin-bottom:5px"><span style="font-weight: 600;">Umumiy savollar:</span> {{r.tests.count}}</p>
    <p><span style="font-weight: 600;">To'g'ri javoblar: </span> {{r.is_trues}}</p>
    <hr style="margin: 10px;">
    <p style="font-size: 18px;"><span><b><i class="fa-solid fa-medal"></i> Natija:</b> {{r.result}} %</span></p>
    </div>
    {% endfor %}

</div>
{% endblock %}
{% block script %} 

{% endblock %}